
.banner {
    background: linear-gradient(
        to bottom,
        rgba(0,0,0, 0.5),
        rgba(0,0,0, 0.5)
      ),url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .innerSection {

        section {
            float: right;
            padding:160px 0;

            h1 {
                font-size: 24px;
                color: $color1;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
            p {
                color: $color1;
                font-size: 16px;
                padding-bottom: 30px;
            }
            
        }
        
    
    }
}
.process {
    @include dispGrid(repeat(3, 1fr), 20px);
    text-align: center;

    .items {
        border: 1px solid $color2;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
        padding: 30px 5px;

        .material-icons {
            color: $color4;
            font-size: 36px;
        }
        h2 {
            font-weight: 100;
            text-transform: uppercase;
            margin-top: 10px;
        }
        article {
            font-weight: 100;
            line-height: 20px;
        }
    }
}
.build-dream {
    @include dispGrid(repeat(2, 1fr), 30px);

    h2 {
        font-size: 24px;
        text-transform: uppercase;
        margin-top: 0;
    }
    article {
        line-height: 20px;
        font-weight: 100;
        font-style: italic;
    }
}
.dream-img {
    height: 200px;
    overflow: hidden;

    img {
        width: 100%;
    }
}
.proj-img-section {
    a {
        @include dispGrid(repeat(4, 1fr), 0px);

        img {
            width: 100%;

            &:hover {
                transform: scale(1.1);
                transition: all 1s;
            }
        }
    }
}
.insta-area {
    @include dispGrid(repeat(2, 1fr), 20px);

.insta-img {
    width: 100%;
}
.insta-header {
    @include dispGrid(repeat(3, 1fr), 0px);
    width: 180px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    span {
        text-transform: uppercase;
        align-self: center;
        &.right {
            text-align: right;
        }
        &.left {
            text-align: left;
            align-self: center;
        }
    }
    img {
        width: 24px;
        margin: auto;
    }
}
h3 {
    font-size: 18px;
    text-align: center;
    letter-spacing: 6px;
}
p {
    text-align: center;
    font-weight: 100;
}
}