

//bg colors
$headerBG: rgba(0, 0, 0, 0.8);
$headerTopBG: rgba(0, 0, 0, 0.9);
$buttonBG: #CD5F65;


//colors
$color1: #ffff;
$color2: #E3E3E3;
$color3: #797979;
$color4: #000000;
$color5: #D0CFCF;
$color6: #CD5F65;