@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import "_variables.scss";
@import "_mixins.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_home.scss";
@import "_about.scss";
@import "_services.scss";
@import "_projects.scss";
@import "_contact.scss";
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    transition: all 1s;
}
::selection {
    color: $color4; 
    background: $color6;
  }
.innerSection {
    max-width: 752px;
    margin: auto;
}
.material-icons {
    color: $color1;
}
h1.mainheader {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}
.clear {
    clear: both;
}
.button {
    background-color: $buttonBG;
    padding: 10px 35px;
    text-decoration: none;
    color: $color1;
    font-size: 12px;
    text-transform: uppercase;
    border:1px solid $color1;
}
.pd-top-60 {
    padding-top: 60px;
}
.pd-bottom-60 {
    padding-bottom: 60px;
}
.pd-top-30 {
    padding-top: 30px;
}
.common-banner {
    padding: 120px 0;

   .main-header {
        text-align: center;
        color: $color1;
        text-transform: uppercase;
        letter-spacing: 10px;
    }
    .path {
        text-align: center;
        color: $color1;
        font-weight: 100;

        a {
            color: $color1;
            text-decoration: none;
        }
        span {
            font-weight: 500;
        }
    }
}

@media screen and (max-width:700px) {
    .innerSection {
        max-width: 90%;
    }
    header {
        .top {
            display: none;
        }
        .bottom {
            .innerSection {
                display: block;
                a {
                    display: block;
                    text-align: center;
                    padding-top: 10px;
                }
                nav ul {
                    padding: 0px;
                    li {
                        flex: 1;
                        border: none;
                    }
                }
            }
        }
    }

    .process, .build-dream, .insta-area, .about-main, .how-it-works, .prof, .services-section, .project-content, footer .bottom, .contact-section {
        grid-template-columns: 1fr;
    }
    .build-dream, .about-main, .prof, .services-section {
        text-align: center;
    }
    .services-section  {
        .img-holder {
            display: none;
        }
        .article p {
            padding: 0;
        }
    }
    .contact {
        input:nth-child(1){
            grid-column: 1/3;
        }
        input:nth-child(2)  {
            grid-column: 1/3;
        }
    }
    footer .innerSection {
        .top {
            grid-template-columns: 1fr;
            nav ul {
                padding: 0;
                width: 100%;
                li {
                    flex: 1;
                }
            }
        }
    }
}

